---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
---

<Layout title="Frontend Engineer | Kunal">
  <Navbar client:visible />
  <main class="h-screen"></main>
</Layout>
