---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
import WorkHistory from "../components/WorkHistory.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Frontend Engineer | Kunal">
  <Navbar client:visible />
  <div class="flex">
    <main class="flex flex-col gap-24 lg:w-1/2 lg:pr-8">
      <Hero />
      <About />
      <WorkHistory />
      <div class="lg:hidden"><Projects /></div>
      <Footer />
    </main>
    <div
      class="hidden lg:w-[45%] xl:w-[35%] lg:flex lg:flex-col items-center rounded-lg mt-28 shadow-2xl hover:shadow-4xl transition-all mb-8 fixed right-0 overflow-y-scroll h-[85vh] [-ms-overflow-style:'none'] [scrollbar-width:'none'] [&::-webkit-scrollbar]:hidden 2xl:mr-60"
    >
      <Projects />
    </div>
  </div>
</Layout>
