<article class="flex flex-col">
  <div class="lg:w-1/2">
    <h1 class="font-medium text-lg tracking-widest">Hi, my name is Kunal.</h1>
    <h2 class="text-3xl font-bold my-4">I build things for the web.</h2>
    <h3 class="font-medium text-lg tracking-widest">
      I'm a front-end developer with a keen sense of design, an unhealthy
      obsession with coffee & making everything pixel-perfect.
    </h3>
    <button
      class="mt-8 bg-yellow-400 px-8 py-2 rounded-full border-solid border border-slate-800 shadow-slate-800 transition-all shadow-hero-button hover:shadow-hero-hovered hover:-translate-y-1 hover:-translate-x-1 font-medium tracking-widest"
      >Let&apos;s Chat!</button
    >
  </div>
</article>
