---
import Button from "./Button.astro";
---

<article
  class="flex flex-col lg:flex-row min-h-screen lg:items-center justify-center lg:justify-normal text-justify"
>
  <div>
    <div class="flex items-baseline">
      <h1 class="font-medium text-lg tracking-widest">Hi, my name is Kunal.</h1>
      <img src="/sticker.webp" alt="memoji." height="128" width="128" />
    </div>
    <h2 class="text-3xl font-bold my-4">I build things for the web.</h2>
    <h3 class="font-medium text-lg tracking-widest">
      I'm a front-end developer with a keen sense of design, an unhealthy
      obsession with coffee & making everything pixel-perfect.
    </h3>
    <Button>
      <a
        href="mailto:kunaldeepsingh.work@gmail.com"
        target="_blank"
        rel="noopener noreferrer">Let&apos;s Chat!</a
      >
    </Button>
  </div>
</article>
