---
import ComponentLayout from "../layouts/ComponentLayout.astro";
---

<ComponentLayout>
  <div>
    <h1 class="text-4xl font-bold mb-4">Where I&apos;ve Worked</h1>
    <div class="flex flex-col gap-8">
      <div>
        <p class="text-lg font-semibold">
          Frontend Engineer / Developer Experience @ <a
            class="text-yellow-400"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.cyberoisystems.com/"
            href="">CyberoiSystems (remote) (Freelancing)</a
          >
        </p>
        <p class="text-sm text-slate-600 mb-2">December 2022 - Present</p>
        <ul class="list-disc pl-6">
          <li>
            Creating visually appealing and responsive web interfaces with the
            help of technologies like NextJS, Typescript, TailwindCSS, etc.
          </li>
          <li>
            Ensuring compatibility across different browsers, devices, and
            screen sizes through testing and fallback strategies.
          </li>
          <li>
            Collaborating with designers and back-end developers to integrate
            front-end components with back-end systems, APIs, and databases for
            seamless functionality.
          </li>
        </ul>
      </div>

      <div>
        <p class="text-lg font-semibold">
          Software Developer @ <a
            class="text-yellow-400"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.nextlooptechnologies.com/"
            href="">Nextloop Technologies Pvt Ltd (remote)</a
          >
        </p>
        <p class="text-sm text-slate-600 mb-2">September 2022 - Present</p>
        <ul class="list-disc pl-6">
          <li>
            Focusing on developing clean and maintainable code and tests using
            VueJS, StencilJS and Typescript.
          </li>
          <li>Developing and shipping highly interactive web applications.</li>
          <li>
            Working and communicating with an international team in various
            timezones on a day to day basis.
          </li>
        </ul>
      </div>

      <div>
        <p class="text-lg font-semibold">
          Frontend Engineer @ <a
            class="text-yellow-400"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.cyberoisystems.com/"
            href="">CyberoiSystems (remote)</a
          >
        </p>
        <p class="text-sm text-slate-600 mb-2">November 2021 - March 2022</p>
        <ul class="list-disc pl-6">
          <li>
            Wrote modern, performant, maintainable code for a diverse array of
            clients and internal projects.
          </li>
          <li>
            Worked with a variety of different languages, platforms, frameworks,
            and version control systems such as JavaScript, TypeScript, React,
            NextJS, Gitlab, and Github.
          </li>
          <li>
            Communicated with multi-disciplinary teams of engineers, designers,
            product managers, and clients on a daily basis.
          </li>
        </ul>
      </div>

      <div>
        <p class="text-lg font-semibold">
          Frontend Engineer @ <span class="text-yellow-400"
            >The Forestta (remote)</span
          >
        </p>
        <p class="text-sm text-slate-600 mb-2">November 2020 - November 2021</p>
        <ul class="list-disc pl-6">
          <li>
            Planned website development, converting mockups into usable web
            components for both mobile and desktop platforms with HTML, CSS,
            JavaScript and React.
          </li>
          <li>Adhered to SEO best practices while designing sites.</li>
        </ul>
      </div>

      <div>
        <p class="text-lg font-semibold">
          Frontend Developer @ <a
            class="text-yellow-400"
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.linkedin.com/company/unihubindia/about/"
            href="">Unihub India (remote)</a
          >
        </p>
        <p class="text-sm text-slate-600 mb-2">August - October 2020</p>
        <ul class="list-disc pl-6">
          <li>
            Developed and maintained code for in-house and client websites
            primarily using HTML, CSS, Sass, JavaScript & React.
          </li>
          <li>
            Manually tested sites in various browsers and mobile devices to
            ensure cross-browser compatibility and responsiveness.
          </li>
          <li>
            Interacted with clients on a weekly basis, providing technological
            expertise and updates.
          </li>
        </ul>
      </div>
    </div>
  </div>
</ComponentLayout>
